html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@font-face {
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Gilroy-Bold.woff2) format('woff2'),
        url(../fonts/Gilroy-Bold.woff) format('woff');
        
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Gilroy-Medium.woff2) format('woff2'),
        url(../fonts/Gilroy-Medium.woff) format('woff');

    font-family: Gilroy-Regular;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Gilroy-Regular.woff2) format('woff2'),
        url(../fonts/Gilroy-Regular.woff) format('woff');
}

body {
    line-height: 1;
    font-family: Gilroy-Medium;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo {
    margin: 0 35px;
}

.header__top-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__top-item {
    /* border-left: 1px solid #C4C4C4; */
    padding: 0 28px;
    position: relative;
}

.header__top-item::before {
    content: "";
    position: absolute;
    width: 96px;
    height: 1px;
    top: 9px;
    left: -48px;
    transform: rotate(-90deg);
    background-color: #C4C4C4;
}

.social::before {
    top: 12px;
}

.big::before {
    top: 17px;
}


.header__top-link {
    font-size: 16px;
    line-height: 19px;
    color: #000;
    display: block;
}

.salons {
    position: relative;
    padding-right: 20px;
}

.salons::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: -16px;
    background-image: url(../images/icon_1.svg);
}

.visually-impaired {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 15px 8px 40px;
    background-color: #00868A;
    border: 1px solid transparent;
    position: relative;
    transition: all .3s;
}

.visually-impaired:hover {
    background-color: #4FBFA5;
}

.visually-impaired::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 22px;
    top: 6px;
    left: 10px;
    background-image: url(../images/eye.svg);
}

.header__nav {
    background-color: #4FBFA5;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-left: 65px;
}

.nav__link {
    font-size: 18px;
    line-height: 27px;
    color: #fff;

    transition: all .3s;
}

.nav__link:hover {
    color: #00868A;
}

.nav__btn {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    border: none;
    margin-right: 15px;
    transition: all .3s;
}

.nav__btn:hover {
    background-color: #00868A;
    color: #fff;
}

.slick-prev,
.slick-next {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slick-next {
    left: 420px;
    top: 420px;
}

.slick-prev {
    left: 360px;
    bottom: 54px;
    z-index: 1;
}

.cosmetology {
    background-color: #4FBFA5;
}

.cosmetology__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cosmetology__content {
    margin-right: 130px;
    width: 420px;
}

.cosmetology__title {
    font-size: 48px;
    line-height: 72px;
    font-family: Gilroy-Bold;
    color: #fff;
    margin-bottom: 20px;
}

.cosmetology__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
    color: #fff;
}

.cosmetology__btn {
    padding: 15px 25px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    background-color: #00868A;
    border: none;
    transition: all .3s;
}

.cosmetology__btn:hover {
    background-color: #fff;
    color: #00868A;
}

.cosmetology__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cosmetology__items {

    display: flex;
    align-items: center;
    justify-content: center;
}

.cosmetology__item {
    margin: 0 auto;
    background-color: #00868A;
    padding: 24px 0;
    /* width: 100%; */
    text-align: center;
    width: 326px;
    transition: all.3s;
}

.proc {
    width: 648px;
}

.cosmetology__link {
    display: inline-block;
    font-size: 21px;
    line-height: 32px;
    color: #fff;
}

.cosmetology__item:hover {
    background-color: #4FBFA5;
}

.about {
    padding: 80px 0;
    background-color: #fff;
}

.about__inner {
    display: flex;
    position: relative;
}

.about__innovation {
    background-color: #00868A;
    width: 530px;
    margin-right: 130px;
    height: 100%;
}

.about__innovation-content {
    padding: 35px 0 0 40px;
    color: #fff;
}

.about__innovation-title {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4FBFA5;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
}

.about__innovation-text {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 25px;
}

.about__innovation-link {
    color: #fff;
    text-transform: uppercase;
    padding-left: 70px;
    margin-bottom: 53px;
    display: inline-block;
    position: relative;
}

.about__innovation-link::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 40px;
    background-image: url(../images/next.png);
}

.about__innovation-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.about__estetic {
    padding-top: 35px;
    background-color: #fff;
    position: relative;
}

.about__estetic-title {
    color: #fff;
}

.about__estetic-list {
    list-style: none;
}

.about__estetic-item {
    font-size: 48px;
    line-height: 72px;
    margin-right: 20px;
    transition: all .6s;
    margin-bottom: 30px;
}

.about__estetic-item span {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    transition: all .6s;
    position: relative;
}

.about__estetic-item:hover {
    font-size: 96px;
    line-height: 150%;
    color: #00868A;
}

.about__estetic-item:hover span {
    font-size: 28px;
    line-height: 150%;
}

.about__estetic-img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 306px;
    opacity: .8;
    display: inline-block;
    position: absolute;
    bottom: 70px;
    right: 0;
}

.news {
    background-color: #fff;
    padding-bottom: 100px;
}

.news__inner {
    display: flex;
}

.news__links {
    padding-top: 35px;
    background-color: #4FBFA5;
    color: #fff;
    min-width: 530px;
    width: 530px;
}

.news__links-title {
    display: inline-block;
    padding: 10px 15px;
    background-color: #00868A;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
    margin-left: 40px;
}

.news__item {
    padding: 20px 40px;
    transition: all .6s;
}

.news__item:hover {
    background-color: #00868A;
}

/* каломбур конечно, но с функциями пока не дружу,
js только начал учить, хотелось бы цвет и текст уметь поменять при наведении и при клике */
.active {
    background-color: #00868A;
}

.news__link {
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin: 35px 0;
}

.news__detailed {
    padding: 35px 0 0 60px;
    background-color: #E6F3F3;
}

.news__detailed-title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 25px;
}

.news__detailed-item {
    margin-bottom: 30px;
    margin-right: 60px;
}

.news__detailed-text {
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    line-height: 150%;
    color: #000;
}

.news__detailed-text::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 0;
    top: 6px;
    border-radius: 2px;
    background-color: #00868A;
}

.product {
    padding: 80px 0;
    background-color: #fff;
}

.product__title {
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 48px;
    line-height: 72px;
    color: #00868A;
    margin-bottom: 60px;
}

.product__items {
    display: flex;
    justify-content: space-between;
}

.product__item {
    max-width: 306px;
    position: relative;
}

.product__item-link {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 10px 15px;
    background-color: #4FBFA5;
    border: 1px solid transparent;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    transition: all .3s;
}

.product__item-link:hover {
    background-color: transparent;
    border: 1px solid #fff;
}

.product__item-box {
    padding: 25px 30px;
    background-color: #00868A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-title {
    font-family: Gilroy-Bold;
    font-size: 21px;
    line-height: 32px;
    color: #fff;
}

.footer {
    background-color: #fff;
}

.footer__top {
    padding-bottom: 80px;
    display: flex;
}

.footer__top-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 190px;
    grid-row-gap: 30px;
}

.footer__top-item--title {
    font-family: Gilroy-Bold;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 20px;
}

.footer__top-list--item {
    margin-bottom: 15px;
}

.footer__top-list--link {
    font-size: 14px;
    line-height: 21px;
    color: #000;
    transition: all .3s;
}

.footer__top-list--link:hover {
    color: #4FBFA5;
    border-bottom: 1px solid #4FBFA5;
}

.footer__top-contacts {
    margin-left: 130px;
    padding-top: 15px;
}

.contacts {
    margin-bottom: 30px;
}

.contacts__title {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 10px;
}

.contacts__link,
.addres {
    font-family: Gilroy-Bold;
    font-size: 21px;
    line-height: 32px;
    color: #000;
}

.contacts__link {
    transition: all .3s;
}

.addres {
    margin-bottom: 30px;
}

.contacts__link:hover {
    font-size: 24px;
    color: #4FBFA5;
}

.addres__link {
    padding: 15px 25px;
    color: #fff;
    background-color: #00868A;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: all .3s;
}

.addres__link:hover {
    /* color: #00868A; */
    background-color: #4FBFA5;
    border: 1px solid #00868A;
    padding: 15px 30px;
}

.footer__bottom {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #C4C4C4;
}

.footer__bottom-copy,
.footer__bottom-copy--link {
    font-family: Gilroy-Regular;
    font-size: 12px;
    line-height: 18px;
    color: #000;
}

.footer__bottom-copy--link {
    text-decoration: underline;
    margin: 0 70px;
}

.footer__bottom-copy {
    /* max-width: 300px; */
    margin-left: 6px;
}